<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Let's face it, everybody is already online. Sometimes, you can't beat the competition by just placing yourself out here in the world wide web. <br> <br> That's where we step in. We don't just make websites, we make them work. You tell us your vision and we will do the rest!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Static Web Design</h4>
                    <p class="text-muted">Whether it be a catalog for your business or a portfolio for personal or professional use, UNIT64o can help you set it up and be online in a jiffy!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hosting</h4>
                    <p class="text-muted">If you already have a static website on hand, we can still work together because UNIT64o provides hosting services!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Content</h4>
                    <p class="text-muted">Here at UNIT64o, we believe that content is an integral part of the design. If you're having a hard time writing your site's content, we can step in and help!</p>
                </div>
            </div>
        </div>
    </section>